<html>
<<<<<<< HEAD
  <body>
      <h1> Flatiron School Students Page </h1>

      <p> Click a student below to visit their page. </p>

      <ul>
        <% students.each do |student| %>
        <li><a href="student/<%= student.url %>.html"><%= student.name %></a></li>
        <% end %>
      </ul>
  </body>
</html>
=======
</html>
>>>>>>> 84b24d1d50d981b68b9ab85cae545fc1a638e87a
